services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: leave_management
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - D:/CODE/Face_Recognition/leave_management/main.sql:/docker-entrypoint-initdb.d/leave_management.sql:ro

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - D:/CODE/Face_Recognition/main/leaveManagementAPIs:/var/www/html/leaveManagementAPIs
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: password

  web:
    build:
      context: .
      dockerfile: web.Dockerfile
    container_name: apache-php
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - D:/CODE/Face_Recognition/main/leaveManagementAPIs:/var/www/html/leaveManagementAPIs
    environment:
      APACHE_RUN_USER: www-data
      APACHE_RUN_GROUP: www-data

volumes:
  db_data:
