.division-container {
    display: flex;
    /* height: 100vh; */
    /* overflow-y: scroll; */
}

.left-division {
    width: 50%;
    height: 100%;
    background: #101214;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
    margin: 0;
}

.portal-text {
    font-size: 24px;
    margin-top: 20px;
}

.right-division {
    width: 50%;
    height: 100%;
    background-color: #2148c0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 6rem; /* Adjust the height as needed */
    margin-bottom: 10px; /* Decreased margin */
}
